@import '_variables';
body {
	font-family: 'Comfortaa';
}
a {
	text-decoration:none;
	color:inherit;
}
header{
	display: block;
	position: relative;
	width: 100%;
	background: url('../img/headerLine.png') repeat-x 0 40px;
	.header-wrap {
		display: block;
		position: relative;
		width: 1000px;
		height: 130px;
		margin: 0 auto;
		.logo {
			display: block;
			position: absolute;
			box-sizing:border-box;
			left:138px;
			width: 330px;
			height: 110px;
			background-color: white;
			border-radius: 0 0 12px 12px;
			padding: 43px 17px 32px 17px;
			box-shadow: 0px 0px 5px 0px rgba( 0, 0, 0, 0.4 );
			.text {
				color:$h2TextColor;
				font-size: 38px;
				line-height: 22px;
			}
		}
		.socials {
			display: block;
			position: absolute;
			right:0px;
			bottom: 5px;
			.twitter {
				margin-right: 10px;
			}
		}
	}
}
nav {
	display: block;
	position: relative;
	width: 100%;
	background-color: #edf2f6;
	border-top: 1px solid #dbe0e4;
	border-bottom: 1px solid #dbe0e4;
	.nav-wrap {
		display: block;
		position: relative;
		box-sizing: border-box;
		width: 1000px;
		height: 45px;
		margin: 0 auto;
		ul {
			display: block;
			position: absolute;
			left:138px;
			padding:0;
			margin-top: 10px;
			li {
				display: inline-block;
				position: relative;
				list-style: none;
				font-size: 18px;
				color: $menuTextColor;
				transition: 500ms;
				&:not(:first-of-type){
					margin-left: 20px;
				}
				&.active {
					color: $menuTextColorActive;
					&:after {
						content:"...";
						display: block;
						position: absolute;
						font-size: 55px;
						color: $menuTextColor;
						letter-spacing: 5px;
						height: 5px;
						top:-20px;
						left:50%;
						transform: translateX(-17px);
					}
				}
				&:not([class*="active"]):hover {
					transform: Scale(1.1);
					cursor: pointer;
				}
			}
		}
	}
}
.container {
	width: 100%;
	height: 100%;
	.middle {
		display: block;
		position: relative;
		width: 100%;
		height: auto;
		padding-top:28px;
		background: url("../img/main_line.png") repeat-x;
		.banner-wrap {
			display: block;
			position: relative;
			width: 1000px;
			height: 410px;
			margin: 0 auto;
			border-radius: 12px;
			box-shadow: 0px 0px 5px 0px rgba( 0, 0, 0, 0.4 );
			background:white;
			&:before {
				content: "";
				display: block;
				position: absolute;
				left:0;
				bottom:7px;
				width: 100px;
				height: 20px;
				transform:rotate(-5deg);
				box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.2);
				z-index: -1;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				right:0;
				bottom:7px;
				width: 100px;
				height: 20px;
				transform:rotate(5deg);
				box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.2);
				z-index: -1;
			}
			img {
				display: block;
				max-width: 100%;
				max-height: 100%;
			}
		}
		.items_lnc {
			display: flex;
			justify-content: space-between;
			width: 1060px;
			height: auto;
			margin: 0 auto;
			padding-top: 65px;
			padding-bottom: 40px;
			article {
				div {
					width: 311px;
					display: flex;
					flex-direction:column;
					align-items: center;
					img {
						max-width: 311px;
						height: auto;
					}
					p{
						width: 260px;
						height:110px;
						overflow: hidden;
						font-size: 14px;
						line-height: 22px;
						color: #666666;
					}
					a{
						align-self:flex-end;
						margin-right: 24px;
						margin-top:10px;
						text-decoration: none!important;
						color: white;
						text-align:center;
						font-size: 16px;
						line-height: 23px;
						width: 110px;
					  border-style: solid;
					  border-width: 1px;
					  border-color: rgb( 255, 255, 255 );
					  border-radius: 3px;
					  background-image: -moz-linear-gradient( 90deg, rgb(123,170,57) 0%, rgb(150,208,69) 100%);
					  background-image: -webkit-linear-gradient( 90deg, rgb(123,170,57) 0%, rgb(150,208,69) 100%);
					  background-image: -ms-linear-gradient( 90deg, rgb(123,170,57) 0%, rgb(150,208,69) 100%);
					  box-shadow: 0px 0px 3px 0px rgb( 0, 0, 0 );
					  transition: 500ms;
					  &:hover {
					  	transform:scale(1.1);
					  }
					}
				}
			}
		}
	}
}
footer {
	display: block;
	position: relative;
	width: 100%;
	font-size: 12px;
	color:#57595b;
	.footer-wrap {
		display: block;
		position: relative;
		width: 1000px;
		height: 75px;
		margin: 0 auto 0 auto;
		border-radius: 0 0 15px 15px;
		box-shadow: 0px 5px 10px -1px rgba( 0, 0, 0, 0.2 );
		background-color: white;
		&:before {
			content: "";
			display: block;
			position: absolute;
			left:0;
			bottom:10px;
			width: 100px;
			height: 20px;
			transform:rotate(-5deg);
			box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.2);
			z-index: -1;
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			right:0;
			bottom:10px;
			width: 100px;
			height: 20px;
			transform:rotate(5deg);
			box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.2);
			z-index: -1;
		}
		.footer-wrap-flex {
			box-sizing:border-box;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 100%;
			padding: 10px;
		}
	}
	.footer-line {
		display: block;
		position: absolute;
		width:100%;
		height: 60px;
		z-index:-2;
		top:55px;
		background-color: $lightBlue;
		border-top: 4px solid #dbd9d9;
	}
	.footer-menu {
		list-style: none;
		margin: 0;
		li {
			display: inline-block;
			padding: 0 5px 0 5px;
			margin: 0;
			&:not(:first-of-type){
			border-left: 1px solid #57595b;
		}
		}
	}
}